{"swagger":"2.0","info":{"version":"0.1","title":"Omnivore API","description":"Swagger documentation based on the [API reference docs](https://panel.omnivore.io/docs/api)\n\nThe Omnivore API is a RESTful API with Hypermedia principles via [HAL+JSON](http://stateless.co/hal_specification.html). The API contains **resources** that have both data for the requested object and links to traverse further into the API.\n\nUsing the example response to the right, data for a resource is contained at the top level of the object. Attributes such as a Location name, address, and website are examples of such data.\n\nResources can also contain other resources, known as **sub-resources**. For example, a list of Employees is a sub-resource of a Location. Sub-resources belong to their parent resource.\n\n## Metadata\n\nAll resources contain metadata about themselves and any sub-resources that they may own. Metadata can be found in all resources within the `_links` or `_embedded` fields.\n\nA resource will always contain a `self` field inside of the `_links` hash:\n\n```javascript\n\"_links\": {\n  \"self\": {\n    \"href\": \"https://api.omnivore.io/0.1/locations/1237/\"\n  }\n}\n```\n\nThe `_links` hash can also contain fields describing sub-resources. These fields have URLs in `href` that can direct your client to the location of the sub-resource:\n```javascript\n\"_links\": {\n  \"employees\": {\n    \"href\": \"https://api.omnivore.io/0.1/locations/1237/employees/\"\n  }\n}\n```\nThe `_embedded` hash contains full resources or resource lists. All the data is “embedded” instead of linked to like in the `_links` field:\n\n```javascript\n\"_embedded\": {\n  \"employee\": {\n    \"check_name\": \"Cowans S\",\n    \"first_name\": \"Cowans\",\n    \"id\": \"9999999\",\n    \"last_name\": \"Super User\"\n  }\n}\n```\n\n## API Authentication\n\nAPI Authentication\n\nAuthentication is done using API Keys that are assigned inside of the [control panel](http://panel.omnivore.io/) and are application specific. These keys can be created, deleted, or regenerated at any time.\n\nAPI Keys are set as either Production or Development keys in the control panel. Production keys have access to Public Locations connected to the Application, while Development keys can only access Dev Locations.\n\nAn API Key is passed to the server using a custom HTTP header `Api-Key`. This works for both Production and Development keys.\n\n## Errors\n\nOmnivore uses conventional HTTP error codes to communicate the result of an API request alongside a detailed error object.\n"},"host":"api.omnivore.io","basePath":"/0.1","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"securityDefinitions":{"apiKey":{"type":"apiKey","in":"header","name":"Api-Key","description":"Omnivore API key"}},"paths":{"/locations":{"get":{"description":"Get a list of all your Locations","operationId":"getAllLocations","security":[{"apiKey":[]}],"responses":{"200":{"description":"Location Resource Array","schema":{"type":"object","properties":{"count":{"type":"number","description":"The number of locations returned"},"_embedded":{"description":"Location Resource Array","type":"array","items":{"type":"object","description":"A Location resource contains data about a restaurant location.","properties":{"id":{"type":"string","description":"The location's id within our database"},"address":{"type":"object","properties":{"city":{"type":"string"},"state":{"type":"string","description":"2 character code (e.g. \"CA\")"},"street1":{"type":"string"},"street2":{"type":"string"},"zip":{"type":"string"}}},"name":{"type":"string","description":"The name of the location"},"phone":{"type":"string","description":"10 digits, no punctuation"},"website":{"type":"string"},"_links":{"type":"object","properties":{"employees":{"type":"object","properties":{"href":{"type":"string"}}},"menu":{"type":"object","properties":{"href":{"type":"string"}}},"order_types":{"type":"object","properties":{"href":{"type":"string"}}},"revenue_centers":{"type":"object","properties":{"href":{"type":"string"}}},"self":{"type":"object","properties":{"href":{"type":"string"}}},"tables":{"type":"object","properties":{"href":{"type":"string"}}},"tender_types":{"type":"object","properties":{"href":{"type":"string"}}},"tickets":{"type":"object","properties":{"href":{"type":"string"}}}}}}}}}}}}}},"/locations/{id}":{"get":{"description":"Get the data for a Location that is currently attached to your account.","operationId":"getById","security":[{"apiKey":[]}],"parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Location Resource","schema":{"type":"object","description":"A Location resource contains data about a restaurant location.","properties":{"id":{"type":"string","description":"The location's id within our database"},"address":{"type":"object","properties":{"city":{"type":"string"},"state":{"type":"string","description":"2 character code (e.g. \"CA\")"},"street1":{"type":"string"},"street2":{"type":"string"},"zip":{"type":"string"}}},"name":{"type":"string","description":"The name of the location"},"phone":{"type":"string","description":"10 digits, no punctuation"},"website":{"type":"string"},"_links":{"type":"object","properties":{"employees":{"type":"object","properties":{"href":{"type":"string"}}},"menu":{"type":"object","properties":{"href":{"type":"string"}}},"order_types":{"type":"object","properties":{"href":{"type":"string"}}},"revenue_centers":{"type":"object","properties":{"href":{"type":"string"}}},"self":{"type":"object","properties":{"href":{"type":"string"}}},"tables":{"type":"object","properties":{"href":{"type":"string"}}},"tender_types":{"type":"object","properties":{"href":{"type":"string"}}},"tickets":{"type":"object","properties":{"href":{"type":"string"}}}}}}}},"404":{"description":"No Location found by that id","schema":{"type":"object","properties":{"code":{"type":"number"},"error":{"type":"string"}}}}}}}},"definitions":{"LocationResource":{"type":"object","description":"A Location resource contains data about a restaurant location.","properties":{"id":{"type":"string","description":"The location's id within our database"},"address":{"type":"object","properties":{"city":{"type":"string"},"state":{"type":"string","description":"2 character code (e.g. \"CA\")"},"street1":{"type":"string"},"street2":{"type":"string"},"zip":{"type":"string"}}},"name":{"type":"string","description":"The name of the location"},"phone":{"type":"string","description":"10 digits, no punctuation"},"website":{"type":"string"},"_links":{"type":"object","properties":{"employees":{"type":"object","properties":{"href":{"type":"string"}}},"menu":{"type":"object","properties":{"href":{"type":"string"}}},"order_types":{"type":"object","properties":{"href":{"type":"string"}}},"revenue_centers":{"type":"object","properties":{"href":{"type":"string"}}},"self":{"type":"object","properties":{"href":{"type":"string"}}},"tables":{"type":"object","properties":{"href":{"type":"string"}}},"tender_types":{"type":"object","properties":{"href":{"type":"string"}}},"tickets":{"type":"object","properties":{"href":{"type":"string"}}}}}}},"TicketResource":{"type":"object","description":"## Ticket resource\nResource for restaurant tickets, also known as an order. Tickets are a sub-resource of Location.\n\nCreating a Ticket is synonymouse with opening an order to be fulfilled by a restaurant.\n\nTickets a can be created, modified, replaced, and deleted.\n","properties":{"id":{"type":"string","description":"The ticket's id as stored in the POS system"},"auto_send":{"type":"boolean","description":"When false, items aren't sent to kitchen until ticket is paid in full.","default":true},"closed_at":{"type":"string","description":"Timestamp when the ticket was closed out. Null when 'open' is true.","format":"datetime","default":null},"guest_count":{"type":"number","description":"Number of guests on the Ticket"},"name":{"type":"string","description":"Alphanumeric indentifier for the Ticket. Note- unique amongst open Tickets."},"open":{"type":"boolean","description":"Whether or not the Ticket has a remaining balance"},"opened_at":{"type":"string","format":"datetime","description":"Timestamp when the ticket was opened"},"ticket_number":{"type":"number","description":"The number printed on the ticket"},"totals":{"type":"object","properties":{"sub_total":{"type":"number","description":"Total cost of all Ticket Items."},"other_charges":{"type":"number","description":"Total miscellaneous charges"},"service_charges":{"type":"number","description":"Other fees such as automatic gratuity or delivery fee."},"total":{"type":"number","description":"Total amount for the Ticket"},"due":{"type":"number","description":"Remaining balance"}}},"_embedded":{"type":"object","properties":{"employee":{"description":"Employee Resource","type":"object","properties":{"id":{"type":"string","description":"The employee's id as stored in the POS system."},"check_name":{"type":"string","description":"The name of the employee as printed on a ticket."},"first_name":{"type":"string","description":"The employee's first name as stored in the POS."},"last_name":{"type":"string","description":"The employee's last name as stored in the POS."},"login":{"type":"string","description":"The employee's terminal login info."}}},"items":{"description":"Items Resource Array","type":"array","items":{"type":"object"}},"discounts":{"description":"Ticket Discount Resource Array","type":"array","items":{"type":"object"}},"order_type":{"description":"Order Type Resource","type":"object"},"payments":{"description":"Payment Resource Array","type":"array","items":{"type":"object"}},"revenue_centers":{"description":"Revenue Center Resource","type":"object"},"table":{"description":"Table Resource","type":"object"}}},"_links":{"type":"object","properties":{"items":{"type":"object","properties":{"href":{"type":"string"}}},"discounts":{"type":"object","properties":{"href":{"type":"string"}}},"payments":{"type":"object","properties":{"href":{"type":"string"}}}}}}}}}