{"swagger":"2.0","info":{"version":"0.1","title":"Omnivore API","description":"Swagger documentation based on the [API reference docs](https://panel.omnivore.io/docs/api)\n\nThe Omnivore API is a RESTful API with Hypermedia principles via [HAL+JSON](http://stateless.co/hal_specification.html). The API contains **resources** that have both data for the requested object and links to traverse further into the API.\n\nUsing the example response to the right, data for a resource is contained at the top level of the object. Attributes such as a Location name, address, and website are examples of such data.\n\nResources can also contain other resources, known as **sub-resources**. For example, a list of Employees is a sub-resource of a Location. Sub-resources belong to their parent resource.\n\n## Metadata\n\nAll resources contain metadata about themselves and any sub-resources that they may own. Metadata can be found in all resources within the `_links` or `_embedded` fields.\n\nA resource will always contain a `self` field inside of the `_links` hash:\n\n```javascript\n\"_links\": {\n  \"self\": {\n    \"href\": \"https://api.omnivore.io/0.1/locations/1237/\"\n  }\n}\n```\n\nThe `_links` hash can also contain fields describing sub-resources. These fields have URLs in `href` that can direct your client to the location of the sub-resource:\n```javascript\n\"_links\": {\n  \"employees\": {\n    \"href\": \"https://api.omnivore.io/0.1/locations/1237/employees/\"\n  }\n}\n```\nThe `_embedded` hash contains full resources or resource lists. All the data is “embedded” instead of linked to like in the `_links` field:\n\n```javascript\n\"_embedded\": {\n  \"employee\": {\n    \"check_name\": \"Cowans S\",\n    \"first_name\": \"Cowans\",\n    \"id\": \"9999999\",\n    \"last_name\": \"Super User\"\n  }\n}\n```\n\n## API Authentication\n\nAPI Authentication\n\nAuthentication is done using API Keys that are assigned inside of the [control panel](http://panel.omnivore.io/) and are application specific. These keys can be created, deleted, or regenerated at any time.\n\nAPI Keys are set as either Production or Development keys in the control panel. Production keys have access to Public Locations connected to the Application, while Development keys can only access Dev Locations.\n\nAn API Key is passed to the server using a custom HTTP header `Api-Key`. This works for both Production and Development keys.\n\n## Errors\n\nOmnivore uses conventional HTTP error codes to communicate the result of an API request alongside a detailed error object.\n"},"host":"api.omnivore.io","basePath":"/0.1","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"securityDefinitions":{"apiKey":{"type":"apiKey","in":"header","name":"Api-Key","description":"Omnivore API key"}},"paths":{"/locations":{"get":{"description":"Get a list of all your Locations","operationId":"locations.getAll","security":[{"apiKey":[]}],"tags":["Locations"],"responses":{"200":{"description":"Location Resource Array","schema":{"type":"object","properties":{"count":{"type":"number","description":"The number of locations returned"},"_embedded":{"description":"Location Resource Array","type":"array","items":{"type":"object","description":"A Location resource contains data about a restaurant location.","properties":{"id":{"type":"string","description":"The location's id within our database"},"address":{"type":"object","properties":{"city":{"type":"string"},"state":{"type":"string","description":"2 character code (e.g. \"CA\")"},"street1":{"type":"string"},"street2":{"type":"string"},"zip":{"type":"string"}}},"name":{"type":"string","description":"The name of the location"},"phone":{"type":"string","description":"10 digits, no punctuation"},"website":{"type":"string"},"_links":{"type":"object","properties":{"employees":{"type":"object","properties":{"href":{"type":"string"}}},"menu":{"type":"object","properties":{"href":{"type":"string"}}},"order_types":{"type":"object","properties":{"href":{"type":"string"}}},"revenue_centers":{"type":"object","properties":{"href":{"type":"string"}}},"self":{"type":"object","properties":{"href":{"type":"string"}}},"tables":{"type":"object","properties":{"href":{"type":"string"}}},"tender_types":{"type":"object","properties":{"href":{"type":"string"}}},"tickets":{"type":"object","properties":{"href":{"type":"string"}}}}}}}}}}}}}},"/locations/{id}":{"get":{"description":"Get the data for a Location that is currently attached to your account.","operationId":"locations.getById","security":[{"apiKey":[]}],"tags":["Locations"],"parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Location Resource","schema":{"type":"object","description":"A Location resource contains data about a restaurant location.","properties":{"id":{"type":"string","description":"The location's id within our database"},"address":{"type":"object","properties":{"city":{"type":"string"},"state":{"type":"string","description":"2 character code (e.g. \"CA\")"},"street1":{"type":"string"},"street2":{"type":"string"},"zip":{"type":"string"}}},"name":{"type":"string","description":"The name of the location"},"phone":{"type":"string","description":"10 digits, no punctuation"},"website":{"type":"string"},"_links":{"type":"object","properties":{"employees":{"type":"object","properties":{"href":{"type":"string"}}},"menu":{"type":"object","properties":{"href":{"type":"string"}}},"order_types":{"type":"object","properties":{"href":{"type":"string"}}},"revenue_centers":{"type":"object","properties":{"href":{"type":"string"}}},"self":{"type":"object","properties":{"href":{"type":"string"}}},"tables":{"type":"object","properties":{"href":{"type":"string"}}},"tender_types":{"type":"object","properties":{"href":{"type":"string"}}},"tickets":{"type":"object","properties":{"href":{"type":"string"}}}}}}}},"404":{"description":"No Location found by that id","schema":{"type":"object","properties":{"code":{"type":"number"},"error":{"type":"string"}}}}}}},"/locations/{locationId}/employees":{"get":{"description":"Get a list of all the Employees at a location","operationId":"employees.getAll","security":[{"apiKey":[]}],"tags":["Employees"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"}],"responses":{"200":{"description":"Employee Resource Array","schema":{"type":"object","properties":{"count":{"type":"number","description":"The number of employees returned"},"_embedded":{"description":"Employee Resource Array","type":"array","items":{"type":"object","description":"Resource for a Employee inside of a specific Location.","properties":{"id":{"type":"string","description":"The employee's id as stored in the POS system."},"check_name":{"type":"string","description":"The name of the employee as printed on a ticket."},"first_name":{"type":"string","description":"The employee's first name as stored in the POS."},"last_name":{"type":"string","description":"The employee's last name as stored in the POS."},"login":{"type":"string","description":"The employee's terminal login info."}}}}}}}}}},"/locations/{locationId}/employees/{employeeId}":{"get":{"description":"Gets a Employee object","operationId":"employees.getById","security":[{"apiKey":[]}],"tags":["Employees"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"},{"name":"employeeId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Returns Employee Resource","schema":{"type":"object","description":"Resource for a Employee inside of a specific Location.","properties":{"id":{"type":"string","description":"The employee's id as stored in the POS system."},"check_name":{"type":"string","description":"The name of the employee as printed on a ticket."},"first_name":{"type":"string","description":"The employee's first name as stored in the POS."},"last_name":{"type":"string","description":"The employee's last name as stored in the POS."},"login":{"type":"string","description":"The employee's terminal login info."}}}},"400":{"description":"Invalid request","schema":{"type":"object","properties":{"code":{"type":"number"},"error":{"type":"string"}}}}}}},"/locations/{locationId}/order_types":{"get":{"description":"Get a list of all the Order Types at a location","operationId":"orderTypes.getAll","security":[{"apiKey":[]}],"tags":["Order Types"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"}],"responses":{"200":{"description":"Returns a list of Order Types","schema":{"type":"object","properties":{"limit":{"type":"number"},"count":{"type":"number"},"_embedded":{"type":"object","properties":{"tickets":{"description":"Order Type Resource Array","type":"array","items":{"type":"object"}}}}}}}}}},"/locations/{locationId}/order_types/{orderTypeId}":{"get":{"description":"Gets a Order Type object","operationId":"orderTypes.getById","security":[{"apiKey":[]}],"tags":["Order Types"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"},{"name":"orderTypeId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Returns Order Type Resource","schema":{"type":"object"}},"400":{"description":"Invalid request","schema":{"type":"object","properties":{"code":{"type":"number"},"error":{"type":"string"}}}}}}},"/locations/{locationId}/tables":{"get":{"description":"Get a list of all your Tables at a Location","operationId":"tables.getAll","security":[{"apiKey":[]}],"tags":["Tables"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"}],"responses":{"200":{"description":"Table Resource Array","schema":{"type":"object","properties":{"count":{"type":"number","description":"The number of tables returned"},"_embedded":{"description":"Table Resource Array","type":"array","items":{"type":"object"}}}}}}}},"/locations/{locationId}/tables/{tableId}":{"get":{"description":"Gets a Table object","operationId":"tables.getById","security":[{"apiKey":[]}],"tags":["Tables"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"},{"name":"tableId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Returns Table Resource","schema":{"type":"object"}},"400":{"description":"Invalid request","schema":{"type":"object","properties":{"code":{"type":"number"},"error":{"type":"string"}}}}}}},"/locations/{locationId}/tender_types":{"get":{"description":"Get a list of all the Tender Types at a location","operationId":"tenderTypes.getAll","security":[{"apiKey":[]}],"tags":["Tender Types"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"}],"responses":{"200":{"description":"Returns a list of Tender Types","schema":{"type":"object","properties":{"limit":{"type":"number"},"count":{"type":"number"},"_embedded":{"type":"object","properties":{"tickets":{"description":"Tender Type Resource Array","type":"array","items":{"type":"object"}}}}}}}}}},"/locations/{locationId}/tender_types/{tenderTypeId}":{"get":{"description":"Gets a Tender Type object","operationId":"tenderTypes.getById","security":[{"apiKey":[]}],"tags":["Tender Types"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"},{"name":"tenderTypeId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Returns Tender Type Resource","schema":{"type":"object"}},"400":{"description":"Invalid request","schema":{"type":"object","properties":{"code":{"type":"number"},"error":{"type":"string"}}}}}}},"/locations/{locationId}/revenue_centers":{"get":{"description":"Get a list of all the Revenue Centers at a location","operationId":"revenueCenters.getAll","security":[{"apiKey":[]}],"tags":["Revenue Centers"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"}],"responses":{"200":{"description":"Returns a list of Revenue Centers","schema":{"type":"object","properties":{"limit":{"type":"number"},"count":{"type":"number"},"_embedded":{"type":"object","properties":{"tickets":{"description":"Revenue Center Resource Array","type":"array","items":{"type":"object"}}}}}}}}}},"/locations/{locationId}/revenue_centers/{revenueCenterId}":{"get":{"description":"Gets a Revenue Center object","operationId":"revenueCenters.getById","security":[{"apiKey":[]}],"tags":["Revenue Centers"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"},{"name":"revenueCenterId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Returns Revenue Center Resource","schema":{"type":"object"}},"400":{"description":"Invalid request","schema":{"type":"object","properties":{"code":{"type":"number"},"error":{"type":"string"}}}}}}},"/locations/{locationId}/discounts":{"get":{"description":"Get a list of all the Discounts at a location","operationId":"discounts.getAll","security":[{"apiKey":[]}],"tags":["Discounts"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"}],"responses":{"200":{"description":"Discount Resource Array","schema":{"type":"object","properties":{"count":{"type":"number","description":"The number of discounts returned"},"_embedded":{"description":"Discount Resource Array","type":"array","items":{"type":"object"}}}}}}}},"/locations/{locationId}/discounts/{discountId}":{"get":{"description":"Gets a Discount object","operationId":"discounts.getById","security":[{"apiKey":[]}],"tags":["Discounts"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"},{"name":"discountId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Returns Discount Resource","schema":{"type":"object"}},"400":{"description":"Invalid request","schema":{"type":"object","properties":{"code":{"type":"number"},"error":{"type":"string"}}}}}}},"/locations/{locationId}/tickets":{"get":{"description":"Get a list of all the Tickets at a location","operationId":"tickets.getAll","security":[{"apiKey":[]}],"tags":["Tickets"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"}],"responses":{"200":{"description":"Returns a list of Tickets","schema":{"type":"object","properties":{"limit":{"type":"number"},"count":{"type":"number"},"_embedded":{"type":"object","properties":{"tickets":{"description":"Ticket Resource Array","type":"array","items":{"type":"object","description":"Resource for restaurant tickets, also known as an order. Tickets are a sub-resource of Location.\n\nCreating a Ticket is synonymouse with opening an order to be fulfilled by a restaurant.\n\nTickets a can be created, modified, replaced, and deleted.\n","properties":{"id":{"type":"string","description":"The ticket's id as stored in the POS system"},"auto_send":{"type":"boolean","description":"When false, items aren't sent to kitchen until ticket is paid in full.","default":true},"closed_at":{"type":"string","description":"Timestamp when the ticket was closed out. Null when 'open' is true.","format":"datetime"},"guest_count":{"type":"number","description":"Number of guests on the Ticket"},"name":{"type":"string","description":"Alphanumeric indentifier for the Ticket. Note- unique amongst open Tickets."},"open":{"type":"boolean","description":"Whether or not the Ticket has a remaining balance"},"opened_at":{"type":"string","format":"datetime","description":"Timestamp when the ticket was opened"},"ticket_number":{"type":"number","description":"The number printed on the ticket"},"totals":{"type":"object","properties":{"sub_total":{"type":"number","description":"Total cost of all Ticket Items."},"other_charges":{"type":"number","description":"Total miscellaneous charges"},"service_charges":{"type":"number","description":"Other fees such as automatic gratuity or delivery fee."},"total":{"type":"number","description":"Total amount for the Ticket"},"due":{"type":"number","description":"Remaining balance"}}},"_embedded":{"type":"object","properties":{"employee":{"description":"Employee Resource","type":"object","properties":{"id":{"type":"string","description":"The employee's id as stored in the POS system."},"check_name":{"type":"string","description":"The name of the employee as printed on a ticket."},"first_name":{"type":"string","description":"The employee's first name as stored in the POS."},"last_name":{"type":"string","description":"The employee's last name as stored in the POS."},"login":{"type":"string","description":"The employee's terminal login info."}}},"items":{"description":"Items Resource Array","type":"array","items":{"type":"object"}},"discounts":{"description":"Ticket Discount Resource Array","type":"array","items":{"type":"object"}},"order_type":{"description":"Order Type Resource","type":"object"},"payments":{"description":"Payment Resource Array","type":"array","items":{"type":"object"}},"revenue_centers":{"description":"Revenue Center Resource","type":"object"},"table":{"description":"Table Resource","type":"object"}}},"_links":{"type":"object","properties":{"items":{"type":"object","properties":{"href":{"type":"string"}}},"discounts":{"type":"object","properties":{"href":{"type":"string"}}},"payments":{"type":"object","properties":{"href":{"type":"string"}}}}}}}}}}}}}}},"post":{"description":"Opens a new ticket using the submitted data.\n\nCreating a new ticket will generate empty lists for all of its list-based sub-resources,\nincluding `payments` and `items`. This enables you to generate resources that belong ot the Location,\nbut are comprised of information that is not top level Ticket data.\n\nA ticket must be created with references to an `employee`, an `order-type`, a `table`, and a `revenue_center`.\nThese are submitted as top level fields with `ids` as the values.\n","operationId":"openTicket","security":[{"apiKey":[]}],"tags":["Tickets"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"type":"object","required":["employee","order_type","revenue_center"],"properties":{"employee":{"type":"string","description":"ID of an employee"},"order_type":{"type":"string","description":"ID of an Order Type"},"revenue_center":{"type":"string","description":"ID of a Revenue Center"},"table":{"type":"string","description":"ID of a table. Defaults to `null`"},"guest_count":{"type":"number","description":"Number of guests involved with the Ticket.","default":1},"name":{"type":"string","description":"The name for the ticket to be displayed on the POS interface. Some POS system will ignore this. Defaults to `null`"},"auto_send":{"type":"boolean","description":"When false, items aren't sent to the kitchen until ticket is paid in full.","default":true}}}}],"responses":{"201":{"description":"Returns the new ticket object with an assigned id.","schema":{"type":"object","description":"Resource for restaurant tickets, also known as an order. Tickets are a sub-resource of Location.\n\nCreating a Ticket is synonymouse with opening an order to be fulfilled by a restaurant.\n\nTickets a can be created, modified, replaced, and deleted.\n","properties":{"id":{"type":"string","description":"The ticket's id as stored in the POS system"},"auto_send":{"type":"boolean","description":"When false, items aren't sent to kitchen until ticket is paid in full.","default":true},"closed_at":{"type":"string","description":"Timestamp when the ticket was closed out. Null when 'open' is true.","format":"datetime"},"guest_count":{"type":"number","description":"Number of guests on the Ticket"},"name":{"type":"string","description":"Alphanumeric indentifier for the Ticket. Note- unique amongst open Tickets."},"open":{"type":"boolean","description":"Whether or not the Ticket has a remaining balance"},"opened_at":{"type":"string","format":"datetime","description":"Timestamp when the ticket was opened"},"ticket_number":{"type":"number","description":"The number printed on the ticket"},"totals":{"type":"object","properties":{"sub_total":{"type":"number","description":"Total cost of all Ticket Items."},"other_charges":{"type":"number","description":"Total miscellaneous charges"},"service_charges":{"type":"number","description":"Other fees such as automatic gratuity or delivery fee."},"total":{"type":"number","description":"Total amount for the Ticket"},"due":{"type":"number","description":"Remaining balance"}}},"_embedded":{"type":"object","properties":{"employee":{"description":"Employee Resource","type":"object","properties":{"id":{"type":"string","description":"The employee's id as stored in the POS system."},"check_name":{"type":"string","description":"The name of the employee as printed on a ticket."},"first_name":{"type":"string","description":"The employee's first name as stored in the POS."},"last_name":{"type":"string","description":"The employee's last name as stored in the POS."},"login":{"type":"string","description":"The employee's terminal login info."}}},"items":{"description":"Items Resource Array","type":"array","items":{"type":"object"}},"discounts":{"description":"Ticket Discount Resource Array","type":"array","items":{"type":"object"}},"order_type":{"description":"Order Type Resource","type":"object"},"payments":{"description":"Payment Resource Array","type":"array","items":{"type":"object"}},"revenue_centers":{"description":"Revenue Center Resource","type":"object"},"table":{"description":"Table Resource","type":"object"}}},"_links":{"type":"object","properties":{"items":{"type":"object","properties":{"href":{"type":"string"}}},"discounts":{"type":"object","properties":{"href":{"type":"string"}}},"payments":{"type":"object","properties":{"href":{"type":"string"}}}}}}}},"400":{"description":"Invalid request","schema":{"type":"object","properties":{"code":{"type":"number"},"error":{"type":"string"}}}}}}},"/locations/{locationId}/tickets/{ticketId}":{"get":{"description":"Gets a Ticket object","operationId":"tickets.getById","security":[{"apiKey":[]}],"tags":["Tickets"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"},{"name":"ticketId","in":"path","required":true,"type":"string","description":"ID of the ticket"}],"responses":{"200":{"description":"Returns Ticket Resource","schema":{"type":"object","description":"Resource for restaurant tickets, also known as an order. Tickets are a sub-resource of Location.\n\nCreating a Ticket is synonymouse with opening an order to be fulfilled by a restaurant.\n\nTickets a can be created, modified, replaced, and deleted.\n","properties":{"id":{"type":"string","description":"The ticket's id as stored in the POS system"},"auto_send":{"type":"boolean","description":"When false, items aren't sent to kitchen until ticket is paid in full.","default":true},"closed_at":{"type":"string","description":"Timestamp when the ticket was closed out. Null when 'open' is true.","format":"datetime"},"guest_count":{"type":"number","description":"Number of guests on the Ticket"},"name":{"type":"string","description":"Alphanumeric indentifier for the Ticket. Note- unique amongst open Tickets."},"open":{"type":"boolean","description":"Whether or not the Ticket has a remaining balance"},"opened_at":{"type":"string","format":"datetime","description":"Timestamp when the ticket was opened"},"ticket_number":{"type":"number","description":"The number printed on the ticket"},"totals":{"type":"object","properties":{"sub_total":{"type":"number","description":"Total cost of all Ticket Items."},"other_charges":{"type":"number","description":"Total miscellaneous charges"},"service_charges":{"type":"number","description":"Other fees such as automatic gratuity or delivery fee."},"total":{"type":"number","description":"Total amount for the Ticket"},"due":{"type":"number","description":"Remaining balance"}}},"_embedded":{"type":"object","properties":{"employee":{"description":"Employee Resource","type":"object","properties":{"id":{"type":"string","description":"The employee's id as stored in the POS system."},"check_name":{"type":"string","description":"The name of the employee as printed on a ticket."},"first_name":{"type":"string","description":"The employee's first name as stored in the POS."},"last_name":{"type":"string","description":"The employee's last name as stored in the POS."},"login":{"type":"string","description":"The employee's terminal login info."}}},"items":{"description":"Items Resource Array","type":"array","items":{"type":"object"}},"discounts":{"description":"Ticket Discount Resource Array","type":"array","items":{"type":"object"}},"order_type":{"description":"Order Type Resource","type":"object"},"payments":{"description":"Payment Resource Array","type":"array","items":{"type":"object"}},"revenue_centers":{"description":"Revenue Center Resource","type":"object"},"table":{"description":"Table Resource","type":"object"}}},"_links":{"type":"object","properties":{"items":{"type":"object","properties":{"href":{"type":"string"}}},"discounts":{"type":"object","properties":{"href":{"type":"string"}}},"payments":{"type":"object","properties":{"href":{"type":"string"}}}}}}}},"400":{"description":"Invalid request","schema":{"type":"object","properties":{"code":{"type":"number"},"error":{"type":"string"}}}}}},"post":{"description":"Void a ticket\n\nVoids every item on the ticket and closes the ticket. Only tickets that do\nnot have sent items can be voided.\n","operationId":"voidById","security":[{"apiKey":[]}],"tags":["Tickets"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"},{"name":"ticketId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"type":"object","required":["void"],"properties":{"void":{"type":"boolean","description":"Set to true to void the ticket."}}}}],"responses":{"200":{"description":"Returns the ticket with the void parameter set to true.","schema":{"type":"object","description":"Resource for restaurant tickets, also known as an order. Tickets are a sub-resource of Location.\n\nCreating a Ticket is synonymouse with opening an order to be fulfilled by a restaurant.\n\nTickets a can be created, modified, replaced, and deleted.\n","properties":{"id":{"type":"string","description":"The ticket's id as stored in the POS system"},"auto_send":{"type":"boolean","description":"When false, items aren't sent to kitchen until ticket is paid in full.","default":true},"closed_at":{"type":"string","description":"Timestamp when the ticket was closed out. Null when 'open' is true.","format":"datetime"},"guest_count":{"type":"number","description":"Number of guests on the Ticket"},"name":{"type":"string","description":"Alphanumeric indentifier for the Ticket. Note- unique amongst open Tickets."},"open":{"type":"boolean","description":"Whether or not the Ticket has a remaining balance"},"opened_at":{"type":"string","format":"datetime","description":"Timestamp when the ticket was opened"},"ticket_number":{"type":"number","description":"The number printed on the ticket"},"totals":{"type":"object","properties":{"sub_total":{"type":"number","description":"Total cost of all Ticket Items."},"other_charges":{"type":"number","description":"Total miscellaneous charges"},"service_charges":{"type":"number","description":"Other fees such as automatic gratuity or delivery fee."},"total":{"type":"number","description":"Total amount for the Ticket"},"due":{"type":"number","description":"Remaining balance"}}},"_embedded":{"type":"object","properties":{"employee":{"description":"Employee Resource","type":"object","properties":{"id":{"type":"string","description":"The employee's id as stored in the POS system."},"check_name":{"type":"string","description":"The name of the employee as printed on a ticket."},"first_name":{"type":"string","description":"The employee's first name as stored in the POS."},"last_name":{"type":"string","description":"The employee's last name as stored in the POS."},"login":{"type":"string","description":"The employee's terminal login info."}}},"items":{"description":"Items Resource Array","type":"array","items":{"type":"object"}},"discounts":{"description":"Ticket Discount Resource Array","type":"array","items":{"type":"object"}},"order_type":{"description":"Order Type Resource","type":"object"},"payments":{"description":"Payment Resource Array","type":"array","items":{"type":"object"}},"revenue_centers":{"description":"Revenue Center Resource","type":"object"},"table":{"description":"Table Resource","type":"object"}}},"_links":{"type":"object","properties":{"items":{"type":"object","properties":{"href":{"type":"string"}}},"discounts":{"type":"object","properties":{"href":{"type":"string"}}},"payments":{"type":"object","properties":{"href":{"type":"string"}}}}}}}}}}},"/locations/{locationId}/tickets/{ticketId}/discounts/":{"get":{"description":"Get a list of all the Ticket Discounts on a Ticket","operationId":"tickets.getTicketDiscounts","security":[{"apiKey":[]}],"tags":["Tickets"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"},{"name":"ticketId","in":"path","required":true,"type":"string","description":"ID of the ticket"}],"responses":{"200":{"description":"Ticket Discount Resource Array","schema":{"type":"object","properties":{"count":{"type":"number","description":"The number of ticketDiscounts returned"},"_embedded":{"description":"Ticket Discount Resource Array","type":"array","items":{"type":"object"}}}}}}},"post":{"description":"Applies a Discount to the Ticket.\n\nAvailable Discounts for application can be retrieved via the Discount definition resource at locations/{location_id}/discounts.\n\nOpen discounts can be submitted with the desired value for the Discount.\n","operationId":"tickets.applyTicketDiscount","security":[{"apiKey":[]}],"tags":["Tickets"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"},{"name":"ticketId","in":"path","required":true,"type":"string","description":"ID of the ticket"},{"name":"payload","in":"body","required":true,"schema":{"type":"object","required":["discount"],"properties":{"discount":{"type":"string","description":"A Discount ID"},"comment":{"type":"string","description":"Comment to be applied alongside"},"value":{"type":"number","description":"Value to be applied . For open discounts only"}}}}],"responses":{"200":{"description":"Returns the ticket with the new discount(s) added.","schema":{"type":"object","description":"Resource for restaurant tickets, also known as an order. Tickets are a sub-resource of Location.\n\nCreating a Ticket is synonymouse with opening an order to be fulfilled by a restaurant.\n\nTickets a can be created, modified, replaced, and deleted.\n","properties":{"id":{"type":"string","description":"The ticket's id as stored in the POS system"},"auto_send":{"type":"boolean","description":"When false, items aren't sent to kitchen until ticket is paid in full.","default":true},"closed_at":{"type":"string","description":"Timestamp when the ticket was closed out. Null when 'open' is true.","format":"datetime"},"guest_count":{"type":"number","description":"Number of guests on the Ticket"},"name":{"type":"string","description":"Alphanumeric indentifier for the Ticket. Note- unique amongst open Tickets."},"open":{"type":"boolean","description":"Whether or not the Ticket has a remaining balance"},"opened_at":{"type":"string","format":"datetime","description":"Timestamp when the ticket was opened"},"ticket_number":{"type":"number","description":"The number printed on the ticket"},"totals":{"type":"object","properties":{"sub_total":{"type":"number","description":"Total cost of all Ticket Items."},"other_charges":{"type":"number","description":"Total miscellaneous charges"},"service_charges":{"type":"number","description":"Other fees such as automatic gratuity or delivery fee."},"total":{"type":"number","description":"Total amount for the Ticket"},"due":{"type":"number","description":"Remaining balance"}}},"_embedded":{"type":"object","properties":{"employee":{"description":"Employee Resource","type":"object","properties":{"id":{"type":"string","description":"The employee's id as stored in the POS system."},"check_name":{"type":"string","description":"The name of the employee as printed on a ticket."},"first_name":{"type":"string","description":"The employee's first name as stored in the POS."},"last_name":{"type":"string","description":"The employee's last name as stored in the POS."},"login":{"type":"string","description":"The employee's terminal login info."}}},"items":{"description":"Items Resource Array","type":"array","items":{"type":"object"}},"discounts":{"description":"Ticket Discount Resource Array","type":"array","items":{"type":"object"}},"order_type":{"description":"Order Type Resource","type":"object"},"payments":{"description":"Payment Resource Array","type":"array","items":{"type":"object"}},"revenue_centers":{"description":"Revenue Center Resource","type":"object"},"table":{"description":"Table Resource","type":"object"}}},"_links":{"type":"object","properties":{"items":{"type":"object","properties":{"href":{"type":"string"}}},"discounts":{"type":"object","properties":{"href":{"type":"string"}}},"payments":{"type":"object","properties":{"href":{"type":"string"}}}}}}}}}}},"/locations/{locationId}/tickets/{ticketId}/discounts/{ticketDiscountId}/":{"get":{"description":"Get a list of all the Ticket Discounts on a Ticket","operationId":"tickets.getTicketDiscount","security":[{"apiKey":[]}],"tags":["Tickets"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"},{"name":"ticketId","in":"path","required":true,"type":"string","description":"ID of the ticket"},{"name":"ticketDiscountId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Ticket Discount Resource","schema":{"type":"object"}}}}},"/locations/{locationId}/tickets/{ticketId}/items/":{"get":{"description":"Get a list of all the Ticket Items on a Ticket.","operationId":"tickets.getTicketItems","security":[{"apiKey":[]}],"tags":["Tickets"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"},{"name":"ticketId","in":"path","required":true,"type":"string","description":"ID of the ticket"}],"responses":{"200":{"description":"Ticket Item Resource Array","schema":{"type":"object","properties":{"count":{"type":"number","description":"The number of ticketItems returned"},"_embedded":{"description":"Ticket Item Resource Array","type":"array","items":{"type":"object"}}}}}}},"post":{"description":"Adds a new Ticket Item to a Ticket.\n\nTicket Items inherit values from their Menu Item parents. It is required to attach a Menu Item to a Ticket Item when adding to a Ticket.\n\nTicket Items can be submitted with modifiers to override their default Menu configurations. (Example - Extra Ketchup)\n\nTicket Items can also be submitted with discounts that will apply to the newly created item.\n\nSeveral Ticket Items can be created at a time by passing multiple input objects together as an array. The example payload on the right shows this.\n","operationId":"tickets.addTicketItem","security":[{"apiKey":[]}],"tags":["Tickets"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"},{"name":"ticketId","in":"path","required":true,"type":"string","description":"ID of the ticket"},{"name":"payload","in":"body","required":true,"schema":{"type":"object","properties":{"menu_item":{"type":"string","description":"A Menu Item Id"},"quantity":{"type":"number","default":1},"price_level":{"type":"string","description":"The price level of the menu item being added."},"comment":{"type":"string","description":"Any text, typically special instructions that aren't Available throught a modifiers"},"modifiers":{"type":"array","items":{"type":"object","required":["modifier"],"properties":{"modifier":{"type":"string","description":"The modifier ID"},"quantity":{"type":"number","default":1},"price_level":{"type":"string","description":"THe price level of the modifier."},"comment":{"type":"string","description":"Any text, typically special instructions that aren’t available through a modifier."}}}},"discounts":{"type":"array","items":{"type":"object","required":["discount"],"properties":{"discount":{"type":"string","description":"A discount ID"},"comment":{"type":"string","description":"Comment to be applied alongside the Discount"},"value":{"type":"number","description":"Value to be applied. For open discounts only"}}}}}}}],"responses":{"200":{"description":"Returns the ticket with the new discount(s) added.","schema":{"type":"object","description":"Resource for restaurant tickets, also known as an order. Tickets are a sub-resource of Location.\n\nCreating a Ticket is synonymouse with opening an order to be fulfilled by a restaurant.\n\nTickets a can be created, modified, replaced, and deleted.\n","properties":{"id":{"type":"string","description":"The ticket's id as stored in the POS system"},"auto_send":{"type":"boolean","description":"When false, items aren't sent to kitchen until ticket is paid in full.","default":true},"closed_at":{"type":"string","description":"Timestamp when the ticket was closed out. Null when 'open' is true.","format":"datetime"},"guest_count":{"type":"number","description":"Number of guests on the Ticket"},"name":{"type":"string","description":"Alphanumeric indentifier for the Ticket. Note- unique amongst open Tickets."},"open":{"type":"boolean","description":"Whether or not the Ticket has a remaining balance"},"opened_at":{"type":"string","format":"datetime","description":"Timestamp when the ticket was opened"},"ticket_number":{"type":"number","description":"The number printed on the ticket"},"totals":{"type":"object","properties":{"sub_total":{"type":"number","description":"Total cost of all Ticket Items."},"other_charges":{"type":"number","description":"Total miscellaneous charges"},"service_charges":{"type":"number","description":"Other fees such as automatic gratuity or delivery fee."},"total":{"type":"number","description":"Total amount for the Ticket"},"due":{"type":"number","description":"Remaining balance"}}},"_embedded":{"type":"object","properties":{"employee":{"description":"Employee Resource","type":"object","properties":{"id":{"type":"string","description":"The employee's id as stored in the POS system."},"check_name":{"type":"string","description":"The name of the employee as printed on a ticket."},"first_name":{"type":"string","description":"The employee's first name as stored in the POS."},"last_name":{"type":"string","description":"The employee's last name as stored in the POS."},"login":{"type":"string","description":"The employee's terminal login info."}}},"items":{"description":"Items Resource Array","type":"array","items":{"type":"object"}},"discounts":{"description":"Ticket Discount Resource Array","type":"array","items":{"type":"object"}},"order_type":{"description":"Order Type Resource","type":"object"},"payments":{"description":"Payment Resource Array","type":"array","items":{"type":"object"}},"revenue_centers":{"description":"Revenue Center Resource","type":"object"},"table":{"description":"Table Resource","type":"object"}}},"_links":{"type":"object","properties":{"items":{"type":"object","properties":{"href":{"type":"string"}}},"discounts":{"type":"object","properties":{"href":{"type":"string"}}},"payments":{"type":"object","properties":{"href":{"type":"string"}}}}}}}}}}},"/locations/{locationId}/tickets/{ticketId}/items/{ticketItemId}/":{"get":{"description":"Gets a Ticket Item object","operationId":"tickets.getTicketItemById","security":[{"apiKey":[]}],"tags":["Tickets"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"},{"name":"ticketId","in":"path","required":true,"type":"string","description":"ID of the ticket"},{"name":"ticketItemId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Returns Ticket Item Resource","schema":{"type":"object"}}}},"delete":{"description":"Voids a Ticket Item from a Ticket if the Item has not been sent to the kitchen.","operationId":"tickets.voidItemItem","security":[{"apiKey":[]}],"tags":["Tickets"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"},{"name":"ticketId","in":"path","required":true,"type":"string","description":"ID of the ticket"},{"name":"ticketItemId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Returns full ticket with voided items removed","schema":{"type":"object","description":"Resource for restaurant tickets, also known as an order. Tickets are a sub-resource of Location.\n\nCreating a Ticket is synonymouse with opening an order to be fulfilled by a restaurant.\n\nTickets a can be created, modified, replaced, and deleted.\n","properties":{"id":{"type":"string","description":"The ticket's id as stored in the POS system"},"auto_send":{"type":"boolean","description":"When false, items aren't sent to kitchen until ticket is paid in full.","default":true},"closed_at":{"type":"string","description":"Timestamp when the ticket was closed out. Null when 'open' is true.","format":"datetime"},"guest_count":{"type":"number","description":"Number of guests on the Ticket"},"name":{"type":"string","description":"Alphanumeric indentifier for the Ticket. Note- unique amongst open Tickets."},"open":{"type":"boolean","description":"Whether or not the Ticket has a remaining balance"},"opened_at":{"type":"string","format":"datetime","description":"Timestamp when the ticket was opened"},"ticket_number":{"type":"number","description":"The number printed on the ticket"},"totals":{"type":"object","properties":{"sub_total":{"type":"number","description":"Total cost of all Ticket Items."},"other_charges":{"type":"number","description":"Total miscellaneous charges"},"service_charges":{"type":"number","description":"Other fees such as automatic gratuity or delivery fee."},"total":{"type":"number","description":"Total amount for the Ticket"},"due":{"type":"number","description":"Remaining balance"}}},"_embedded":{"type":"object","properties":{"employee":{"description":"Employee Resource","type":"object","properties":{"id":{"type":"string","description":"The employee's id as stored in the POS system."},"check_name":{"type":"string","description":"The name of the employee as printed on a ticket."},"first_name":{"type":"string","description":"The employee's first name as stored in the POS."},"last_name":{"type":"string","description":"The employee's last name as stored in the POS."},"login":{"type":"string","description":"The employee's terminal login info."}}},"items":{"description":"Items Resource Array","type":"array","items":{"type":"object"}},"discounts":{"description":"Ticket Discount Resource Array","type":"array","items":{"type":"object"}},"order_type":{"description":"Order Type Resource","type":"object"},"payments":{"description":"Payment Resource Array","type":"array","items":{"type":"object"}},"revenue_centers":{"description":"Revenue Center Resource","type":"object"},"table":{"description":"Table Resource","type":"object"}}},"_links":{"type":"object","properties":{"items":{"type":"object","properties":{"href":{"type":"string"}}},"discounts":{"type":"object","properties":{"href":{"type":"string"}}},"payments":{"type":"object","properties":{"href":{"type":"string"}}}}}}}}}}},"/locations/{locationId}/tickets/{ticketId}/items/{ticketItemId}/modifiers":{"get":{"description":"Get a list of all the Ticket Item Modifiers on a Ticket","operationId":"tickets.getTicketItemModifiers","security":[{"apiKey":[]}],"tags":["Tickets"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"},{"name":"ticketId","in":"path","required":true,"type":"string","description":"ID of the ticket"},{"name":"ticketItemId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Ticket Item Modifier Resource Array","schema":{"type":"object","properties":{"count":{"type":"number","description":"The number of ticketItemModifiers returned"},"_embedded":{"description":"Ticket Item Modifier Resource Array","type":"array","items":{"type":"object"}}}}}}}},"/locations/{locationId}/tickets/{ticketId}/items/{ticketItemId}/modifiers/{ticketItemModifierId}/":{"get":{"description":"Gets a Ticket Item Modifier object","operationId":"tickets.getTicketItemModifierById","security":[{"apiKey":[]}],"tags":["Tickets"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"},{"name":"ticketId","in":"path","required":true,"type":"string","description":"ID of the ticket"},{"name":"ticketItemId","in":"path","required":true,"type":"string"},{"name":"ticketItemModifierId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Returns Ticket Item Modifier Resource","schema":{"type":"object"}}}}},"/locations/{locationId}/tickets/{ticketId}/items/{ticketItemId}/discounts":{"get":{"description":"Get a list of all the Ticket Item Discounts on a Ticket","operationId":"tickets.getTicketItemDiscounts","security":[{"apiKey":[]}],"tags":["Tickets"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"},{"name":"ticketId","in":"path","required":true,"type":"string","description":"ID of the ticket"},{"name":"ticketItemId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Ticket Item Discount Resource Array","schema":{"type":"object","properties":{"count":{"type":"number","description":"The number of ticketItemDiscounts returned"},"_embedded":{"description":"Ticket Item Discount Resource Array","type":"array","items":{"type":"object"}}}}}}}},"/locations/{locationId}/tickets/{ticketId}/items/{ticketItemId}/discounts/{ticketItemDiscountId}/":{"get":{"description":"Gets a Ticket Item Discount object","operationId":"tickets.getTicketItemDiscountById","security":[{"apiKey":[]}],"tags":["Tickets"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"},{"name":"ticketId","in":"path","required":true,"type":"string","description":"ID of the ticket"},{"name":"ticketItemId","in":"path","required":true,"type":"string"},{"name":"ticketItemDiscountId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Returns Ticket Item Discount Resource","schema":{"type":"object"}}}}},"/locations/{locationId}/tickets/{ticketId}/payments/":{"get":{"description":"Get a list of all the Ticket Payments on a Ticket","operationId":"tickets.getPayments","security":[{"apiKey":[]}],"tags":["Tickets"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"},{"name":"ticketId","in":"path","required":true,"type":"string","description":"ID of the ticket"}],"responses":{"200":{"description":"Ticket Payment Resource Array","schema":{"type":"object","properties":{"count":{"type":"number","description":"The number of Ticket Payments returned"},"_embedded":{"description":"Ticket Payment Resource Array","type":"array","items":{"type":"object"}}}}}}}},"/locations/{locationId}/tickets/{ticketId}/payments/{paymentId}":{"get":{"description":"Gets a Ticket Payment object","operationId":"tickets.getTicketPaymentById","security":[{"apiKey":[]}],"tags":["Tickets"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"},{"name":"ticketId","in":"path","required":true,"type":"string","description":"ID of the ticket"},{"name":"paymentId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Returns Ticket Payment Resource","schema":{"type":"object"}}}}},"/locations/{locationId}/menu":{"get":{"description":"Get a list of all your Menu at a Location","operationId":"menus.get","security":[{"apiKey":[]}],"tags":["Menus"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"}],"responses":{"200":{"description":"Menu Resource","schema":{"type":"object"}}}}},"/locations/{locationId}/menu/categories":{"get":{"description":"Gets a list of all the Categories in a Menu","operationId":"menus.getCategories","security":[{"apiKey":[]}],"tags":["Menus"],"parameters":[{"name":"locationId","in":"path","description":"ID of the location","required":true,"type":"string"}],"responses":{"200":{"description":"Category Resource Array","schema":{"type":"object","properties":{"count":{"type":"number","description":"The number of Categories returned"},"_embedded":{"description":"Category Resource Array","type":"array","items":{"type":"object"}}}}}}}}},"definitions":{"LocationResource":{"type":"object","description":"A Location resource contains data about a restaurant location.","properties":{"id":{"type":"string","description":"The location's id within our database"},"address":{"type":"object","properties":{"city":{"type":"string"},"state":{"type":"string","description":"2 character code (e.g. \"CA\")"},"street1":{"type":"string"},"street2":{"type":"string"},"zip":{"type":"string"}}},"name":{"type":"string","description":"The name of the location"},"phone":{"type":"string","description":"10 digits, no punctuation"},"website":{"type":"string"},"_links":{"type":"object","properties":{"employees":{"type":"object","properties":{"href":{"type":"string"}}},"menu":{"type":"object","properties":{"href":{"type":"string"}}},"order_types":{"type":"object","properties":{"href":{"type":"string"}}},"revenue_centers":{"type":"object","properties":{"href":{"type":"string"}}},"self":{"type":"object","properties":{"href":{"type":"string"}}},"tables":{"type":"object","properties":{"href":{"type":"string"}}},"tender_types":{"type":"object","properties":{"href":{"type":"string"}}},"tickets":{"type":"object","properties":{"href":{"type":"string"}}}}}}},"TicketResource":{"type":"object","description":"Resource for restaurant tickets, also known as an order. Tickets are a sub-resource of Location.\n\nCreating a Ticket is synonymouse with opening an order to be fulfilled by a restaurant.\n\nTickets a can be created, modified, replaced, and deleted.\n","properties":{"id":{"type":"string","description":"The ticket's id as stored in the POS system"},"auto_send":{"type":"boolean","description":"When false, items aren't sent to kitchen until ticket is paid in full.","default":true},"closed_at":{"type":"string","description":"Timestamp when the ticket was closed out. Null when 'open' is true.","format":"datetime"},"guest_count":{"type":"number","description":"Number of guests on the Ticket"},"name":{"type":"string","description":"Alphanumeric indentifier for the Ticket. Note- unique amongst open Tickets."},"open":{"type":"boolean","description":"Whether or not the Ticket has a remaining balance"},"opened_at":{"type":"string","format":"datetime","description":"Timestamp when the ticket was opened"},"ticket_number":{"type":"number","description":"The number printed on the ticket"},"totals":{"type":"object","properties":{"sub_total":{"type":"number","description":"Total cost of all Ticket Items."},"other_charges":{"type":"number","description":"Total miscellaneous charges"},"service_charges":{"type":"number","description":"Other fees such as automatic gratuity or delivery fee."},"total":{"type":"number","description":"Total amount for the Ticket"},"due":{"type":"number","description":"Remaining balance"}}},"_embedded":{"type":"object","properties":{"employee":{"description":"Employee Resource","type":"object","properties":{"id":{"type":"string","description":"The employee's id as stored in the POS system."},"check_name":{"type":"string","description":"The name of the employee as printed on a ticket."},"first_name":{"type":"string","description":"The employee's first name as stored in the POS."},"last_name":{"type":"string","description":"The employee's last name as stored in the POS."},"login":{"type":"string","description":"The employee's terminal login info."}}},"items":{"description":"Items Resource Array","type":"array","items":{"type":"object"}},"discounts":{"description":"Ticket Discount Resource Array","type":"array","items":{"type":"object"}},"order_type":{"description":"Order Type Resource","type":"object"},"payments":{"description":"Payment Resource Array","type":"array","items":{"type":"object"}},"revenue_centers":{"description":"Revenue Center Resource","type":"object"},"table":{"description":"Table Resource","type":"object"}}},"_links":{"type":"object","properties":{"items":{"type":"object","properties":{"href":{"type":"string"}}},"discounts":{"type":"object","properties":{"href":{"type":"string"}}},"payments":{"type":"object","properties":{"href":{"type":"string"}}}}}}}}}